<aside class="group w-16 bg-(--color-card) transition-all duration-300 overflow-hidden h-full">

  <div class="flex flex-col gap-2 p-2 pt-4 text-white">

    <div routerLink="/dashboard" routerLinkActive="bg-white/30" class="flex items-center gap-4 p-3 rounded-lg cursor-pointer hover:bg-white/10">
      <span class=" text-center flex items-center justify-center">
        <mat-icon class="">dashboard</mat-icon>
      </span>
      <span class="opacity-0 transition-all whitespace-nowrap">
        Dashboard
      </span>
    </div>

    <div routerLink="/setting" routerLinkActive="bg-white/30"  class="flex items-center gap-4 p-3 rounded-lg cursor-pointer hover:bg-white/10">
      <span class=" text-center flex items-center justify-center"><mat-icon class="">settings</mat-icon></span>
      <span class="opacity-0 transition-all whitespace-nowrap">
        Settings
      </span>
    </div>

  </div>

</aside>